.keyboard {
    max-width: 816px;
    padding: 30px 8px 8px;
    margin: 60px auto;
    box-shadow: inset 1px 1px 0px #f1f1f1, 3px 3px 6px 3px #303038;
    background-color: #e3e3e3;
    border-radius: 1px 1px 7px 7px;
  }
  .container {
    max-width: 816px;
    padding: 30px 8px 8px;
    margin: 60px auto;
    box-shadow: inset 1px 1px 0px #f1f1f1, 3px 3px 6px 3px #303038;
    background-color: #e3e3e3;
    border-radius: 1px 1px 7px 7px;
  }
  .display-style{
    border:solid 2px rgb(123, 121, 121);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: aqua;
  }
  /* .outPutDiv{

  } */