* {
    box-sizing: inherit;
  }
  body {
    box-sizing: border-box;
    font-family:'VAG Rounded W01 Thin';
    display: flex;

    justify-content: space-around;
    align-items: flex-end;
    
  }
  .container {
    max-width: 500px;
    padding: 30px 8px 8px;
    margin: 60px auto;
    box-shadow: inset 1px 1px 0px #f1f1f1, 3px 3px 6px 3px #303038;
    background-color: #e3e3e3;
    border-radius: 1px 1px 7px 7px;
  }